.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}
.mat-card {
    background: #fff;
    color: rgba(0, 0, 0, .87)
}
.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 0;
}
.mat-card-title {
    margin-bottom: 8px;
}
.mat-card-title {
    display: block;
    margin-bottom: 8px;
}
.mat-card-title {
    margin-bottom: 30px!important;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
.mat-card-title {
    font-size: 24px;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 14px;
}
.mat-card-subtitle {
    color: rgba(0,0,0,.54);
}
.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 14px;
}
ul[_ngcontent-c7]   li.err[_ngcontent-c7]::before {
    content: "\25CF ";
    color: #ff6e19!important;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
ul[_ngcontent-c7] {
    list-style: none;
}
ul[_ngcontent-c7]   li.new[_ngcontent-c7]::before {
    content: "\25CF ";
    color: #98bb2f!important;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.btn-new {
    background-color:#98bb2f!important;
    color:#fff;
}
.btn-check:focus+.btn-new, .btn-new:focus, .btn-new:hover {
  background-color:#98bb2f!important;
    color:#fff;  
}
.btn-err {
    background-color:#ff6e19!important;
    color:#fff;
}
.btn-check:focus+.btn-err, .btn-err:focus, .btn-err:hover {
  background-color:#ff6e19!important;
    color:#fff;  
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #009dff !important;
}

.btn-primary:hover {
  background-color: #0b8bdc !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}